In [11]:
import pandas as pd

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', None)

df_source = pd.read_csv('五粮液.csv')

In [12]:
df_source

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

[155 rows x 11 columns]

##### DataFrame行操作

In [54]:
df_source[df_source.open > 150] # 取数据

      ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0   000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1   000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2   000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3   000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4   000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145
..        ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
57  000858.SZ    20200601  150.06  160.18  150.06  158.59     148.20   10.39   7.0108  357843.58  5624344.618
63  000858.SZ    20200522  150.76  150.78  143.65  144.25     151.68   -7.43  -4.8985  383526.39  5597327.855
64  000858.SZ    20200521  151.86  153.53  151.03  151.68     150.85    0.83   0.5502  170921.50  2602103.042
65  000858.SZ    20200520  152.50  152.98  150.51  150.85     151.42   -0.57  -0.3764  170412.14  2580358.165
66  000858.SZ    20200519  153.33  153.49  150.37  151.42     151.19    0.23   0.1521  176505.56  2669709.609

[62 rows x 11 columns]

In [17]:
df_source.drop_duplicates() # 删除重复值

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

[155 rows x 11 columns]

In [22]:
df_source.sample(frac=0.05, random_state=1) # frac 取??%的数据

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
117  000858.SZ    20200303  123.70  125.88  123.70  124.37     122.65    1.72   1.4024  230923.24  2878896.360
75   000858.SZ    20200506  134.50  139.05  133.98  138.21     135.77    2.44   1.7972  251044.81  3442757.066
51   000858.SZ    20200609  160.58  163.00  159.01  162.61     160.61    2.00   1.2453  161118.88  2610701.054
31   000858.SZ    20200709  203.39  205.36  201.50  203.72     203.36    0.36   0.1770  295243.49  5988999.450
35   000858.SZ    20200703  189.99  190.50  182.50  188.72     189.49   -0.77  -0.4064  308159.41  5745184.556
40   000858.SZ    20200624  168.41  171.30  167.00  168.61     167.98    0.63   0.3750  187986.02  3172425.486
14   000858.SZ    20200803  218.18  219.93  215.20  217.72     217.50    0.22   0.1011  201453.55  4369803.363
109  000858.SZ    20200313  120.00  125.22  118.88  122.60     126.04   -3.44  -2.7293  350886.98  4280415.922

In [23]:
df_source.sample(n=3, random_state=1) # n 随机取n个

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
117  000858.SZ    20200303  123.70  125.88  123.70  124.37     122.65    1.72   1.4024  230923.24  2878896.360
75   000858.SZ    20200506  134.50  139.05  133.98  138.21     135.77    2.44   1.7972  251044.81  3442757.066
51   000858.SZ    20200609  160.58  163.00  159.01  162.61     160.61    2.00   1.2453  161118.88  2610701.054

In [27]:
df_source.nlargest(3, ['high'], keep='all')
# keep: all表示显示全部重复项
#       first显示重复值第一次出现的行
#       last显示重复值最后一次出现的行

      ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
27  000858.SZ    20200715  219.00  226.00  217.60  223.95     220.90    3.05   1.3807  371699.54  8289624.150
2   000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
28  000858.SZ    20200714  218.30  225.33  212.03  220.90     218.20    2.70   1.2374  438733.08  9589876.574

In [28]:
df_source.nsmallest(3, ['high'])

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
103  000858.SZ    20200323  104.00  106.50  103.04  104.51     108.51   -4.00  -3.6863  328265.40  3443583.082
105  000858.SZ    20200319  105.80  107.00   98.63  102.11     107.59   -5.48  -5.0934  601697.89  6133825.332
104  000858.SZ    20200320  104.32  109.66  104.21  108.51     102.11    6.40   6.2678  422063.90  4484741.875

In [29]:
df_source.head()

     ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0  000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1  000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2  000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3  000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4  000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145

In [30]:
df_source.tail()

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

#### 列操作

In [31]:
df_source[['ts_code','trade_date','open','close']] # 取指定列

       ts_code  trade_date    open   close
0    000858.SZ    20200821  220.00  218.40
1    000858.SZ    20200820  220.00  216.44
2    000858.SZ    20200819  220.47  222.20
3    000858.SZ    20200818  219.99  220.57
4    000858.SZ    20200817  214.50  219.99
..         ...         ...     ...     ...
150  000858.SZ    20200108  128.99  128.89
151  000858.SZ    20200107  129.50  129.37
152  000858.SZ    20200106  130.00  129.20
153  000858.SZ    20200103  131.60  130.55
154  000858.SZ    20200102  132.00  132.08

[155 rows x 4 columns]

In [33]:
df_source.filter(like='clos', axis=1)

      close  pre_close
0    218.40     216.44
1    216.44     222.20
2    222.20     220.57
3    220.57     219.99
4    219.99     212.90
..      ...        ...
150  128.89     129.37
151  129.37     129.20
152  129.20     130.55
153  130.55     132.08
154  132.08     133.01

[155 rows x 2 columns]

In [34]:
df_source.filter(like='1', axis=0) # 从axis指定方向取like条件

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
10   000858.SZ    20200807  210.00  213.00  203.18  207.26     211.02   -3.76  -1.7818  287235.84  5960012.764
11   000858.SZ    20200806  217.48  218.54  209.66  211.02     217.48   -6.46  -2.9704  323043.59  6855967.077
12   000858.SZ    20200805  215.60  217.76  213.00  217.48     215.80    1.68   0.7785  186712.38  4024536.334
13   000858.SZ    20200804  217.50  219.80  214.00  215.80     217.72   -1.92  -0.8819  206769.41  4483369.686
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

[74 rows x 11 columns]

In [51]:
df_source.filter(regex=r'1[0-9]', axis=0) # 从index/columns做正则表达式匹配
# 为毛正则表达式取两位数字却把三位的都取出来了????????????????

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
10   000858.SZ    20200807  210.00  213.00  203.18  207.26     211.02   -3.76  -1.7818  287235.84  5960012.764
11   000858.SZ    20200806  217.48  218.54  209.66  211.02     217.48   -6.46  -2.9704  323043.59  6855967.077
12   000858.SZ    20200805  215.60  217.76  213.00  217.48     215.80    1.68   0.7785  186712.38  4024536.334
13   000858.SZ    20200804  217.50  219.80  214.00  215.80     217.72   -1.92  -0.8819  206769.41  4483369.686
14   000858.SZ    20200803  218.18  219.93  215.20  217.72     217.50    0.22   0.1011  201453.55  4369803.363
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

[65 rows x 11 columns]

#### Query取数

In [55]:
df_source.query('open > 150')

      ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0   000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1   000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2   000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3   000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4   000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145
..        ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
57  000858.SZ    20200601  150.06  160.18  150.06  158.59     148.20   10.39   7.0108  357843.58  5624344.618
63  000858.SZ    20200522  150.76  150.78  143.65  144.25     151.68   -7.43  -4.8985  383526.39  5597327.855
64  000858.SZ    20200521  151.86  153.53  151.03  151.68     150.85    0.83   0.5502  170921.50  2602103.042
65  000858.SZ    20200520  152.50  152.98  150.51  150.85     151.42   -0.57  -0.3764  170412.14  2580358.165
66  000858.SZ    20200519  153.33  153.49  150.37  151.42     151.19    0.23   0.1521  176505.56  2669709.609

[62 rows x 11 columns]

In [57]:
df_source.query('open > 150' and 'close > 160').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 53
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     50 non-null     object
 1   trade_date  50 non-null     int64
 2   open        50 non-null     float64
 3   high        50 non-null     float64
 4   low         50 non-null     float64
 5   close       50 non-null     float64
 6   pre_close   50 non-null     float64
 7   change      50 non-null     float64
 8   pct_chg     50 non-null     float64
 9   vol         50 non-null     float64
 10  amount      50 non-null     float64
dtypes: float64(9), int64(1), object(1)
memory usage: 4.7+ KB

In [61]:
df_source.query('ts_code.str.endswith(r".SZ")', engine='python')

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854

[155 rows x 11 columns]

#### 行列通用操作

In [62]:
df_source.iloc[10:20]

      ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount
10  000858.SZ    20200807  210.00  213.00  203.18  207.26     211.02   -3.76  -1.7818  287235.84  5960012.764
11  000858.SZ    20200806  217.48  218.54  209.66  211.02     217.48   -6.46  -2.9704  323043.59  6855967.077
12  000858.SZ    20200805  215.60  217.76  213.00  217.48     215.80    1.68   0.7785  186712.38  4024536.334
13  000858.SZ    20200804  217.50  219.80  214.00  215.80     217.72   -1.92  -0.8819  206769.41  4483369.686
14  000858.SZ    20200803  218.18  219.93  215.20  217.72     217.50    0.22   0.1011  201453.55  4369803.363
15  000858.SZ    20200731  216.51  221.01  214.28  217.50     216.32    1.18   0.5455  262317.82  5707639.443
16  000858.SZ    20200730  214.00  218.05  213.00  216.32     214.98    1.34   0.6233  253225.64  5483434.280
17  000858.SZ    20200729  214.35  215.48  209.01  214.98     214.00    0.98   0.4579  301364.14  6417584.055
18  000858.SZ    20200728  205.89  216.94  204.67  214.00     204.10    9.90   4.8506  384497.12  8143034.019
19  000858.SZ    20200727  203.39  206.80  201.41  204.10     201.39    2.71   1.3456  246346.88  5038945.709

In [65]:
df_source.iloc[10:20, 0:5] #也可以这样 [10:20, [1,2,5,7]

      ts_code  trade_date    open    high     low
10  000858.SZ    20200807  210.00  213.00  203.18
11  000858.SZ    20200806  217.48  218.54  209.66
12  000858.SZ    20200805  215.60  217.76  213.00
13  000858.SZ    20200804  217.50  219.80  214.00
14  000858.SZ    20200803  218.18  219.93  215.20
15  000858.SZ    20200731  216.51  221.01  214.28
16  000858.SZ    20200730  214.00  218.05  213.00
17  000858.SZ    20200729  214.35  215.48  209.01
18  000858.SZ    20200728  205.89  216.94  204.67
19  000858.SZ    20200727  203.39  206.80  201.41

In [66]:
df_source.loc[10:20, 'ts_code':'low'] # 也可以这样 [10:20, ['ts_code','high','low']]

      ts_code  trade_date    open    high     low
10  000858.SZ    20200807  210.00  213.00  203.18
11  000858.SZ    20200806  217.48  218.54  209.66
12  000858.SZ    20200805  215.60  217.76  213.00
13  000858.SZ    20200804  217.50  219.80  214.00
14  000858.SZ    20200803  218.18  219.93  215.20
15  000858.SZ    20200731  216.51  221.01  214.28
16  000858.SZ    20200730  214.00  218.05  213.00
17  000858.SZ    20200729  214.35  215.48  209.01
18  000858.SZ    20200728  205.89  216.94  204.67
19  000858.SZ    20200727  203.39  206.80  201.41
20  000858.SZ    20200724  208.00  208.95  198.00

In [67]:
df_source.loc[df_source['open'] > 150, ['ts_code','open']]

      ts_code    open
0   000858.SZ  220.00
1   000858.SZ  220.00
2   000858.SZ  220.47
3   000858.SZ  219.99
4   000858.SZ  214.50
..        ...     ...
57  000858.SZ  150.06
63  000858.SZ  150.76
64  000858.SZ  151.86
65  000858.SZ  152.50
66  000858.SZ  153.33

[62 rows x 2 columns]

In [70]:
df_source.iat[0,0] # Access single value by index

'000858.SZ'

In [69]:
df_source.at[0,'ts_code'] # Access single value by label

'000858.SZ'

#### 数据重塑

In [80]:
# 解析透视表格式到原始数据格式
df_melt = df_source.melt(id_vars = ['ts_code','trade_date'], var_name='p_type', value_name='price')
df_melt
#value_vars=['open','high','low','close','pre_close','change','pct_chg','vol','amount'])

        ts_code  trade_date  p_type        price
0     000858.SZ    20200821    open      220.000
1     000858.SZ    20200820    open      220.000
2     000858.SZ    20200819    open      220.470
3     000858.SZ    20200818    open      219.990
4     000858.SZ    20200817    open      214.500
...         ...         ...     ...          ...
1390  000858.SZ    20200108  amount  2083242.871
1391  000858.SZ    20200107  amount  2901574.233
1392  000858.SZ    20200106  amount  3353682.073
1393  000858.SZ    20200103  amount  2672531.470
1394  000858.SZ    20200102  amount  4038536.854

[1395 rows x 4 columns]

In [89]:
df_pivot = df_melt.pivot(index=['ts_code','trade_date'], columns = 'p_type', values='price')
df_pivot

p_type                     amount  change   close    high     low    open  pct_chg  pre_close        vol
ts_code   trade_date
000858.SZ 20200102    4038536.854   -0.93  132.08  133.50  129.59  132.00  -0.6992     133.01  306674.39
          20200103    2672531.470   -1.53  130.55  132.07  129.61  131.60  -1.1584     132.08  204692.48
          20200106    3353682.073   -1.35  129.20  130.25  128.52  130.00  -1.0341     130.55  259369.79
          20200107    2901574.233    0.17  129.37  131.07  129.00  129.50   0.1316     129.20  223277.93
          20200108    2083242.871   -0.48  128.89  129.76  128.05  128.99  -0.3710     129.37  161802.18
...                           ...     ...     ...     ...     ...     ...      ...        ...        ...
          20200817    6913069.145    7.09  219.99  222.00  214.50  214.50   3.3302     212.90  315155.99
          20200818    4208955.657    0.58  220.57  223.00  218.12  219.99   0.2636     219.99  190382.49
          20200819    5300628.768    1.63  222.20  225.96  217.27  220.47   0.7390     220.57  238472.68
          20200820    4022580.052   -5.76  216.44  220.92  216.00  220.00  -2.5923     222.20  184906.63
          20200821    3438178.399    1.96  218.40  220.98  216.44  220.00   0.9056     216.44  157318.61

[155 rows x 9 columns]

In [90]:
df_pivot.reset_index(drop=False)

p_type    ts_code  trade_date       amount  change   close    high     low    open  pct_chg  pre_close        vol
0       000858.SZ    20200102  4038536.854   -0.93  132.08  133.50  129.59  132.00  -0.6992     133.01  306674.39
1       000858.SZ    20200103  2672531.470   -1.53  130.55  132.07  129.61  131.60  -1.1584     132.08  204692.48
2       000858.SZ    20200106  3353682.073   -1.35  129.20  130.25  128.52  130.00  -1.0341     130.55  259369.79
3       000858.SZ    20200107  2901574.233    0.17  129.37  131.07  129.00  129.50   0.1316     129.20  223277.93
4       000858.SZ    20200108  2083242.871   -0.48  128.89  129.76  128.05  128.99  -0.3710     129.37  161802.18
..            ...         ...          ...     ...     ...     ...     ...     ...      ...        ...        ...
150     000858.SZ    20200817  6913069.145    7.09  219.99  222.00  214.50  214.50   3.3302     212.90  315155.99
151     000858.SZ    20200818  4208955.657    0.58  220.57  223.00  218.12  219.99   0.2636     219.99  190382.49
152     000858.SZ    20200819  5300628.768    1.63  222.20  225.96  217.27  220.47   0.7390     220.57  238472.68
153     000858.SZ    20200820  4022580.052   -5.76  216.44  220.92  216.00  220.00  -2.5923     222.20  184906.63
154     000858.SZ    20200821  3438178.399    1.96  218.40  220.98  216.44  220.00   0.9056     216.44  157318.61

[155 rows x 11 columns]

##### 添加新列的方法

In [107]:
df_source.assign(gap_large = lambda x: x['high'] - x['low'],
                 gap_small = lambda x: x['close'] - x['open'])

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount  gap_large  gap_small
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399       4.54      -1.60
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052       4.92      -3.56
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768       8.69       1.73
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657       4.88       0.58
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145       7.50       5.49
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...        ...        ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871       1.71      -0.10
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233       2.07      -0.13
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073       1.73      -0.80
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470       2.46      -1.05
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854       3.91       0.08

[155 rows x 13 columns]

In [130]:
# df_source.describe()
df_source

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount gap_flag
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399        N
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052        N
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768        N
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657        N
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145        N
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...      ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871        N
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233        N
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073        N
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470        N
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854        N

[155 rows x 12 columns]

In [133]:
df_source['gap_flag'] = df_source[['open','close']].apply(lambda x: 'Yes' if x.open<=x.close else 'No', axis=1)
df_source

       ts_code  trade_date    open    high     low   close  pre_close  change  pct_chg        vol       amount gap_flag
0    000858.SZ    20200821  220.00  220.98  216.44  218.40     216.44    1.96   0.9056  157318.61  3438178.399       No
1    000858.SZ    20200820  220.00  220.92  216.00  216.44     222.20   -5.76  -2.5923  184906.63  4022580.052       No
2    000858.SZ    20200819  220.47  225.96  217.27  222.20     220.57    1.63   0.7390  238472.68  5300628.768      Yes
3    000858.SZ    20200818  219.99  223.00  218.12  220.57     219.99    0.58   0.2636  190382.49  4208955.657      Yes
4    000858.SZ    20200817  214.50  222.00  214.50  219.99     212.90    7.09   3.3302  315155.99  6913069.145      Yes
..         ...         ...     ...     ...     ...     ...        ...     ...      ...        ...          ...      ...
150  000858.SZ    20200108  128.99  129.76  128.05  128.89     129.37   -0.48  -0.3710  161802.18  2083242.871       No
151  000858.SZ    20200107  129.50  131.07  129.00  129.37     129.20    0.17   0.1316  223277.93  2901574.233       No
152  000858.SZ    20200106  130.00  130.25  128.52  129.20     130.55   -1.35  -1.0341  259369.79  3353682.073       No
153  000858.SZ    20200103  131.60  132.07  129.61  130.55     132.08   -1.53  -1.1584  204692.48  2672531.470       No
154  000858.SZ    20200102  132.00  133.50  129.59  132.08     133.01   -0.93  -0.6992  306674.39  4038536.854      Yes

[155 rows x 12 columns]